#content{
    max-width: 1600px;
    margin: 0 auto;
}

body{
    font-size:22px;
    margin: 0;
    padding: 0;
}
header{
    background-color:#3F6766;
    display: grid;
    grid-template-columns: 150px auto;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo{
    width: 80px;
}
/* NAV */
nav{
    display: flex;
    justify-content: space-around; 
}
nav a{
    text-align: center;
    color:#DAE2D5;
    text-decoration: none;
    padding: 35px;
    margin-left: auto;
    margin-right: auto;
}

nav a:hover{
    background-color: #4B5842;
    color:#B86F52;
}
/* END NAV */
/* END HEADER */