#content{
    max-width: 1600px;
    margin: 0 auto;
}
body{
background-color: #FFFFFF;  
}
/* HEADER */
header{
background-color:#396E94; 
}
/*#logo_link{

}
.logo{

}*/
/* NAV */
nav a{
text-align: center;
color:#78c5d7 ;  
}
nav a:hover{
    background-color: #721817;
    color:#FFFFFF ;
}
a:hover, a:visited, a:link, a:active {
    text-decoration: none; 
}
/* END HEADER */
#hero{
    text-align: center; 
}
#hero-msg h1, #hero-msg h4{
    text-align: center;  
}
.home-title{
    color:#134266 ;
}
h4{
    color:#134266;
}
.button-box{
    text-align: center;
}
.book, .join{
    background-color: #FFFFFF;
    color: black;
}
.book:hover, .join:hover{
    background-color: #721817;
    color:#FFFFFF ;
}
main section{
    text-align: center;  
}
#background{
    height: 725px;
/*  background-color: ; */
}
.msg{
    background-color: #FFFFFF;
}
.msg h2{
    color:#134266 ;
}
.msg p{
    color:black;
}
footer{
    background-color: #721817;
}
footer h3{
    color:#134266 ;
}
footer a{
    color:#78c5d7 ;
}
footer a:hover{
    color:#FFFFFF ;
}