html{
    height: 100%;
    box-sizing: border-box;
  }

body{
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    padding-left: 10px;
    min-height: 100%;
    background:url(https://images.pexels.com/photos/3934512/pexels-photo-3934512.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);/*Photo by Sam Willis: https://www.pexels.com/photo/scenic-view-of-night-sky-3934512/*/
    background-size: cover;
    background-repeat: repeat-y;
  }
  header > #stars {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    width: 70%;
    flex-wrap: wrap;
    border-radius: 10px;
  }

  ul{
    list-style: none;
  }