body {
    text-align: center;
  }

  nav {
    background-color: steelblue;
    padding: 10px;
    text-align: center;
  }
  
  #active {
    background-color: white;
    color: steelblue;
}
  a {
    color: white;
    margin: 40px;
    font-size: 1.5em;/* Week 4 */
  }
  h1 {
    color: steelblue;
    text-align: center;
  }
  img {
    width: 80%;/*  Week 4 */
    /* width: 800px; */
    border: 4px solid steelblue;
  }
  * {
    border: 2px solid blue;
  }
  p {
    padding: 10px;
    width: 80%;/* Week 4 */
  }
  .main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}
  footer {
    background-color: steelblue;
    color: white;
  }