body {
    text-align: center;
  }

  nav, footer {
    background-color: steelblue;
    color: white;
}
  nav {
    padding: 10px;
    text-align: center;
  }
  
  #active {
    background-color: white;
    color: steelblue;
}
  a:hover {
  background-color: white;
  color: steelblue;
  }
  a {
    color: white;
    margin: 40px;
    font-size: 1.5em;/* Week 4 */
  }

  h1 {
    color: steelblue;
    text-align: center;
  }

  img {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  main p {
    width: 80%;
    margin: 50px auto;
    text-align: center;
  }
  .main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}
  footer {
    text-align: center;
  }

  footer p {
    font-size: 20px;
    margin: 20px auto;
}