body {
    background-color: lightPink;
}
h1 {
    color: black;
    text-align: center;
}

a h1:hover {
    color: white;
    text-decoration: none;
}
a:hover, a:visited, a:link, a:active {
    text-decoration: none; 
}
main p{
color: white;
text-align: center;
}
.bold{
    font-weight: bold;
}

ol, li {
    align-items:center;
    list-style-position: inside;
    justify-content:center;
    text-align: center; 
}

img {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    display: block;
}
section p{
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    line-height: 1;
}
p{
    color: black;
    text-align: center;
}
